## CS/CE 457/464 - Homework Assignment 3: Statistical Inference
# Name: Muhammad Areeb Kazmi
# Email: mk07202@st.habib.edu.pk

Importing the relevant libraries

In [9]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
from scipy import stats

In [15]:
df = pd.read_csv('student-scores.csv')

In [17]:
df.head()

,id,first_name,last_name,email,gender,part_time_job,absence_days,extracurricular_activities,weekly_self_study_hours,career_aspiration,math_score,history_score,physics_score,chemistry_score,biology_score,english_score,geography_score
0,1,Paul,Casey,paul.casey.1@gslingacademy.com,male,False,3,False,27,Lawyer,73,81,93,97,63,80,87
1,2,Danielle,Sandoval,danielle.sandoval.2@gslingacademy.com,female,False,2,False,47,Doctor,90,86,96,100,90,88,90
2,3,Tina,Andrews,tina.andrews.3@gslingacademy.com,female,False,9,True,13,Government Officer,81,97,95,96,65,77,94
3,4,Tara,Clark,tara.clark.4@gslingacademy.com,female,False,5,False,3,Artist,71,74,88,80,89,63,86
4,5,Anthony,Campos,anthony.campos.5@gslingacademy.com,male,False,5,False,10,Unknown,84,77,65,65,80,74,76

## Hypostheses Testing Q1

H0: The average math_score of male and female students is same (equal or similar)

Ha: The average math_score of male students is greater than that of females..

In [61]:
male = df[(df['gender']=='male')]['math_score']
female = df[(df['gender']=='female')]['math_score']

In [38]:
male

0       73
4       84
6       99
7       95
8       94
        ..
1992    79
1993    92
1994    76
1995    83
1996    89
Name: math_score, Length: 998, dtype: int64

In [63]:
female

1       90
2       81
3       71
5       93
9       98
        ..
1987    97
1991    88
1997    97
1998    51
1999    82
Name: math_score, Length: 1002, dtype: int64

In [67]:
stats.ttest_ind(male, female, alternative='greater')

TtestResult(statistic=2.2371559026936256, pvalue=0.012693020299630226, df=1998.0)

## Conclusion
Since P-Value < 0.05 => We can reject Null Hypothesis H0
so Ha is true/valid, i.e. the average math_score of males students is greater that math_score of females

## Hypothesis Testing Q2

H0: The math_score of Non Doctors and Doctors is the same (equal or similar)

Ha: The math_score of Non Doctors is greater than that of Doctors

In [74]:
non_doctors = df[(df['career_aspiration']!='Doctor')]['math_score']
doctors = df[(df['career_aspiration']=='Doctor')]['math_score']
stats.ttest_ind(non_doctors, doctors, alternative='greater')

TtestResult(statistic=-7.389083205876682, pvalue=0.999999999999892, df=1998.0)

## Conclusion
Since P-Value > 0.05 => We cannot reject Null Hypothesis H0
so H0 is true/valid, i.e. the average math_score of Non_Doctors and Doctors is the same.

## Hypothesis Testing Q3

H0: The weekly_self_study_hours of males and females is the same (equal or similar)

Ha: The week_self_study_hours of males is greater than females.

In [84]:
h_male = df[(df['gender']=='male')]['weekly_self_study_hours']
h_female = df[(df['gender']=='female')]['weekly_self_study_hours']

stats.ttest_ind(h_male, h_female, alternative='greater')

TtestResult(statistic=3.4567831650474443, pvalue=0.00027905018418441824, df=1998.0)

## Conclusion
Since P-Value < 0.05 => We can reject Null Hypothesis H0
so Ha is true/valid, i.e. the weekly_self_study_hours of males students is greater that math_score of females

## Hypothesis Testing Q4

H0: The math_score of no part_time_job males and that part_time_job males is the same (equal or similar)

Ha: The math_score of no part_time_job male students is greater than that of part_time_job male students.

In [103]:
npt_male = df[(df['gender']=='male')  & (df['part_time_job'] == False)]['math_score']
pt_male = df[(df['gender']=='male') & (df['part_time_job'] == True)]['math_score']

stats.ttest_ind(npt_male, pt_male, alternative='greater')

TtestResult(statistic=5.8026672393780085, pvalue=4.3820239750124745e-09, df=996.0)

## Conclusion
Since P-Value < 0.05 => We can reject Null Hypothesis H0

so Ha is true/valid, i.e. the math_score of no part_time male students greater than that of part_time_job male students

## Hypothesis Testing Q5

H0: The average of history_score and geography_score is the same or similar

Ha: The average of history_score is less than geography_score

In [172]:
history = df['history_score']
geo = df['geography_score']

stats.ttest_ind(history, geo, alternative='less')

TtestResult(statistic=-1.4412586066465385, pvalue=0.07479497633658547, df=3998.0)

## Conclusion
Since P-Value > 0.05 => We cannot reject Null Hypothesis H0

so H0 is true/valid, i.e. the average of history_score and geography_score is similar or equal.

## Hypothesis Testing Q6

H0: The average of math_score and biology_score is the same or similar

Ha: The average of math_score is greater than biology_score

In [133]:
math = df['math_score']
bio = df['biology_score']

stats.ttest_ind(math, bio, alternative='greater')

TtestResult(statistic=9.082620143235266, pvalue=8.146293509285797e-20, df=3998.0)

## Conclusion
Since P-Value < 0.05 => We can reject Null Hypothesis H0

so Ha is true/valid, i.e. the average score of math is greater than that of biology

## Hypothesis Testing Q7

H0: The weekly_self_study_hours of extracurricular_activities is same or similar as no extra_curricular activities

Ha: The weekly_self_study_hours of extracurricular_activities is less than no extra_curricular activities

In [142]:
eca = df[(df['extracurricular_activities']== True)]['weekly_self_study_hours']
n_eca = df[(df['extracurricular_activities']== False)]['weekly_self_study_hours']

stats.ttest_ind(eca, n_eca, alternative='less')

TtestResult(statistic=-2.3506159912870577, pvalue=0.009419553161020007, df=1998.0)

## Conclusion
Since P-Value < 0.05 => We can reject Null Hypothesis H0

so Ha is true/valid, i.e. The weekly_self_study_hours of extracurricular_activities is less than no extra_curricular activities

## Hypothesis Testing Q8

H0: The absence_days of females and males is equal or similar, i.e. the same.

Ha: The absence_days of females are less than males.

In [174]:
abs_male = df[(df['gender']=='male')]['absence_days']
abs_female = df[(df['gender']=='female')]['absence_days']

stats.ttest_ind(abs_female, abs_male, alternative='less')

TtestResult(statistic=1.3128102331149203, pvalue=0.9053011661354035, df=1998.0)

## Conclusion
Since P-Value > 0.05 => We cannot reject Null Hypothesis H0

so H0 is true/valid, i.e. the absence_days for females and males is the same.

## Hypothesis Testing Q9

H0: There is no association between gender and career_aspiration

Ha: There exists an association between gender and career_aspiration

In [177]:
chisqt = pd.crosstab(df['gender'],df['career_aspiration'], margins=True)
value = np.array([chisqt.iloc[0][0:].values, chisqt.iloc[1][0:].values])
stats.chi2_contingency(value)

Chi2ContingencyResult(statistic=155.39466648000175, pvalue=2.1417733823613718e-24, dof=17, expected_freq=array([[  63.126,   33.567,   84.669,  154.809,   34.068,   28.056,
          59.619,   31.563,   30.561,   69.138,   41.583,   19.539,
         157.815,   36.573,   29.559,  111.723,   16.032, 1002.   ],
       [  62.874,   33.433,   84.331,  154.191,   33.932,   27.944,
          59.381,   31.437,   30.439,   68.862,   41.417,   19.461,
         157.185,   36.427,   29.441,  111.277,   15.968,  998.   ]]))

## Conclusion

Since the p-value is less than 0.05, we can reject the Null Hypothesis and so Ha will be valid that there is indeed an association between gender and career_aspiration and are not independent of each other and have a significant relationship.

## Hypothesis Testing Q10

H0: There is no association between gender and part_time_joba

Ha: There exists an association between gender and part_time_jobs

In [164]:
chisqt = pd.crosstab(df['gender'],df['part_time_job'], margins=True)
value = np.array([chisqt.iloc[0][0:].values, chisqt.iloc[1][0:].values])
stats.chi2_contingency(value)

Chi2ContingencyResult(statistic=1.1337105392319442, pvalue=0.5673066629967145, dof=2, expected_freq=array([[ 843.684,  158.316, 1002.   ],
       [ 840.316,  157.684,  998.   ]]))

## Conclusion

Since the p-value is greater than 0.05, we cannot reject the Null Hypothesis and conclude that there is no association between the said variables and that they are both independent of ach other and have no significant relationship.